# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.sln    merge=union 

# CSharp
*.cs     diff=csharp

# git files
.gitignore text

# Documents
*.doc  diff=astextplain
*.DOC  diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF  diff=astextplain
*.rtf  diff=astextplain
*.RTF  diff=astextplain
*.md   text
*.adoc text
*.csv  text
*.tab  text
*.tsv  text
*.sql  text

# Graphics
*.png  binary
*.jpg  binary
*.jpeg binary
*.gif  binary
*.ico  binary
*.svg  text
